.location{
    -fx-background-color: red;
    -fx-border-radius: blue;

}

.world_map{
    -fx-background-color: #fff;
}

.country_operational{
    -fx-fill: #143664;
}
.country_operational:hover{
    -fx-fill: #64145E;
}
.country_operational:selected{
    -fx-fill: #644214;
}